<!doctype html>
<html lang="en" xmlns:th="http://wwww.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar" />


	<div class="container">
		<div id="art2 ">

			<form class="form-horizontal" th:action="@{/item/add2}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">New Bom Information</legend>


					<!--product_need -->
					<span style="font-size: small">* is a required filed</span>
					<div class="form-group">
						<label for="product_need">* Product need</label>
						<div class="col-md-8">
							<input type="text" name="product_need" class="form-control" id="product_need"
								th:value="${bom.id}" required="required" placeholder="Product need" />
							<span class="help-block">Title of the Product need</span>
						</div>
					</div>

					<!-- product_needed -->
					<div class="form-group">
						<label for="product_needed">* Product needed</label>
						<div class="col-md-8">
							<input type="text" name="product_needed" class="form-control"
								id="product_needed" th:value="${bom.id}"
								placeholder="Product needed" /> <span class="help-block">Product needed</span>
						</div>
					</div>


					<!-- bomquantity -->
					<div class="form-group">
						<label for="bomquantity">Bom quantity</label>
						<div class="col-md-8">
							<input type="number" name="bomquantity" class="form-control"
								id="bomquantity" th:value="${bom.BOMQuantity}"
								placeholder="Bom quantity" /> <span class="help-block">The quantity
								required to finish production the product</span>
						</div>
					</div>

					<!-- notes -->
					<div class="form-group">
						<label class="col-xs-2 control-label" for="notes">*
							Notes</label>
						<div class="col-md-8">
							<input type="text" name="notes" class="form-control"
								id="notes" th:value="${bom.Notes}"
								placeholder="Description" /> <span class="help-block">The description
							of the product</span>
						</div>
					</div>
					
					
					<!--  product_group -->
					<div class="form-group">
						<label for="bomGroup">Product group</label>
						<div class="col-md-8">
							<select class="custom-select" th:value="${bom.ProductGroup}"
								id="product_group" name="product_group">
								<option value="" selected="selected" disabled="disabled">Please
									select an option</option>
								<option value="Product"
									th:selected="(${bom.ProductGroup}=='Product')">Product</option>
								<option value="Part" th:selected="(${bom.ProductGroup}=='Part')">Part</option>
								<option value="Component"
									th:selected="(${bom.ProductGroup}=='Component')">Component</option>
							</select>
						</div>
					</div>
					
					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="bomImage">Upload product image</label>
						</div>
						<div class="col-md-8">
							<input id="bomImage" type="file" name="bomImage"
								th:value="${bom.bomImage}" />
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Add Product</button>
							<a class="btn btn-danger" th:href="@{/}">Cancel</a>
						</div>
					</div>
					


				</fieldset>
			</form>
		</div>

	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>